/packages
/Backup
/.vs
/AzureFtpServer/obj
/AzureFtpServer/bin
/WorkerRole1/bin
/WorkerRole1/obj
/Wedge/csx
/Wedge/obj
/Wedge/bin
/*.suo
/Wedge/*.user
/FTPServerWorkerRole/obj
/FTPServerWorkerRole/bin
/Selfhost/bin
/Selfhost/obj
