<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="StorageAccount" value="UseDevelopmentStorage=true" />
    <add key="Microsoft.WindowsAzure.Plugins.Diagnostics.ConnectionString" value="UseDevelopmentStorage=true" />
    <add key="userfile" value="users.json" />

    <add key="FTP_ENDPOINT" value="127.0.0.1:21"/>
    <add key="FTPPASV_ENDPOINT" value="127.0.0.1:59860"/>

    <!--<add key="FtpServerHost" value="ftpproxy.cloudapp.net" />-->
    <add key="FtpServerHost" value="localhost" />

    <add key="MaxClients" value="5" />
    <add key="QueueNotification" value="false" />
    <add key="MaxIdleSeconds" value="300" />
    <add key="ConnectionEncoding" value="UTF8" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="consoleListener" type="System.Diagnostics.ConsoleTraceListener" />
      </listeners>
    </trace>
  </system.diagnostics>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
